.title {
  margin: 0;
  &_fz14 {
    @include font(14px, 21px);
  }
  &_fz16 {
    @include font(16px, 24px);
  }
  &_fz36 {
    @include font(36px, 60px);
  }
  &_fz48 {
    @include font(48px, 60px);
  }
  &__section-title {
    padding-top: 6px;
    @include before_circle(50%, 0, -50%, 0);
    text-align: center;
  }

  &__section-subtitle {
    padding-top: 6px;
    text-align: center;
  }
}
